<gui>
	<image name="background" texture="background" />
	<widget name="menu">
		<button name="loadGameButton" size="192 32" message="load_game" style="button">
			<text name="loadGameText" text="Load game" characterSize="24" style="button" />
			<hboxlayout hAlignment="center" vAlignment="center" />
		</button>
		<button name="exitButton" size="192 32" message="exit" style="button">
			<text name="exitText" text="Exit" characterSize="24" style="button" />
			<hboxlayout hAlignment="center" vAlignment="center" />
		</button>
		<vboxlayout hAlignment="center" vAlignment="center" spacing="16" />
	</widget>
</gui>